In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("../Dataset/data.csv")

In [3]:
df.head(5)

,Crop,January-2013,January-2014,January-2015,January-2016,January-2017,January-2018,January-2019,January-2020,January-2021,...,December-2015,December-2016,December-2017,December-2018,December-2019,December-2020,December-2021,December-2022,December-2023,December-2024
0,Bajra,131.6,132.3,125.0,142.9,151.9,131.7,171.2,201.6,148.3,...,139.2,154.7,133.9,165.1,194.7,150.0,183.4,219.2,246.2,255.1
1,Barley,119.4,123.9,135.4,138.5,161.6,141.6,159.2,180.4,151.6,...,136.1,161.2,142.9,154.8,176.8,152.0,179.9,243.0,197.7,234.9
2,Castorseed,83.7,93.0,94.9,79.9,87.9,97.9,121.8,101.5,107.5,...,89.0,85.7,103.4,123.8,102.1,107.4,126.7,136.5,111.1,118.5
3,Cotton,91.8,111.7,86.5,90.4,111.4,110.6,115.5,109.0,109.9,...,89.4,103.6,107.6,119.3,108.9,107.9,146.6,178.9,152.8,148.2
4,Cotton (Meal/Cake),109.2,120.2,119.5,154.9,159.5,141.7,151.5,156.7,159.5,...,145.1,157.1,140.0,154.1,159.3,159.1,192.1,194.0,189.7,189.9

### Melt the dataframe to transform it

In [4]:
# Melt the dataframe to transform it
df_melted = df.melt(id_vars=["Crop"], var_name="Date", value_name="Price")

In [5]:
# Extract Year and Month from the column headers
df_melted["Month_Abbr"] = df_melted["Date"].str[:3]   # Extracts 'Jan', 'Feb', etc.
df_melted["Year"] = "20" + df_melted["Date"].str[-2:] # Converts '13' to '2013'

In [7]:
import datetime
# Convert month abbreviation to full month name
df_melted["Month"] = df_melted["Month_Abbr"].apply(lambda x: datetime.datetime.strptime(x, "%b").strftime("%B"))

# Drop the temporary Month_Abbr column
df_melted.drop(columns=["Month_Abbr", "Date"], inplace=True)

In [8]:
# Rearrange columns
df_melted = df_melted[["Crop", "Year", "Month", "Price"]]
df_melted

                    Crop  Year     Month  Price
0                  Bajra  2013   January  131.6
1                 Barley  2013   January  119.4
2             Castorseed  2013   January   83.7
3                 Cotton  2013   January   91.8
4     Cotton (Meal/Cake)  2013   January  109.2
...                  ...   ...       ...    ...
6268              Tomato  2024  December  346.4
6269                 Tur  2024  December  273.8
6270                Urad  2024  December  212.9
6271               Wheat  2024  December  215.8
6272          Wheat Atta  2024  December  213.4

[6273 rows x 4 columns]

In [10]:
# Save the output to a new CSV file
df_melted.to_csv("transformed_data.csv", index=False)